.popup{
    width: 250px;
    padding: 10px;
    text-align: center;
}

.button-city{
    width: 250px;
    height: 50px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    background-color: #eceff7;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition-duration: .5s;
}
  
.button-city.active{
    background-color: #c1d7fc;
}